%h1 Cliente

%p
  %b Nombre:
  = @cliente.nombre

.form-actions
  = link_to 'Volver', clientes_path, class: 'btn'
  = link_to 'Editar', edit_cliente_path(@cliente), class: 'btn'
  = link_to 'Eliminar', cliente_path(@cliente), :method => 'delete', :confirm => '¿Está seguro?', :class => 'btn btn-danger' 
