<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Tareas" connectionString="server=localhost;User Id=root;password=desarrollo;Persist Security Info=True;database=tareas" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>