@model IEnumerable<Tareas.Lib.Models.Proyecto>


@foreach (var item in Model) {
    <div class="column" id='@("proyecto_" + item.Orden)'>
        <h2>@item.Nombre</h2>
        <div class="sortable">
            <div class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</div>
            <div class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</div>
            <div class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</div>
        </div>
    </div>

}
