%div(ng-controller="TaskListCtrl")

  %ul.nav.nav-tabs
    %li.active
      %a(href="#") By project
    %li
      %a(href="#") By user
    %li
      %a(href="#") By tag
    %li
      %a(href="#") Closed
  </ul>

  %div
    %input(ng-model="query" placeholder="Filter..." type="text")
    Sort by:
    %select(ng-model="order")
      %option(value="due_date") Due date
      %option(value="updated_at") Updated date
      %option(value="created_at") Created date

  .tasks-container
    .tasks-inner-container
      .tasks-list.span3(ng-repeat="project in projects")
        .tasks-list-header
          %a(href="projects/{{ project.id }}") 
            %h2 {{ project.name }}
        .tasks-group
          .task(ng-repeat="task in tasks | filter:{project_id: project.id} | filter:query | orderBy:order")
            %div
              %a(href="tasks/{{ task.id }}") 
                {{ task.id }}
              {{ task.due_date }}
            {{ task.description }}
            %div
              Assigned to: {{ task.assigned_id }}
              Created by: {{ task.creator_id }} on {{ task.created_at }}