@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanels.cshtml";
    bool debug = false;
}

@Html.Script("Custom/cliente-servidor.js?f")

@* Habilita el intellisense para el css y javascript, pero no se genera en el html final *@
@if (false)
{ 
    <script src='/Scripts/jquery-1.6.4.min.js' type='text/javascript'></script> 
    <script src='/Scripts/jquery-ui-1.8.16.min.js' type='text/javascript'></script> 
    <script src='/Scripts/scripts.js' type='text/javascript'></script> 
    <script src='/Scripts/scripts.panels.js' type='text/javascript'></script> 
    <script src='/Scripts/date.js' type='text/javascript'></script> 
}

<div class="header-panels">
</div>

<div class="columns-container" data-bind="foreach: usuarios ">
  
  @* Usuario *@
  <div class="column">
    <div class="column-header">
      <div>
        <h2 data-bind="text: Nombre"></h2>
      </div>            
    </div>
    <div class="tasks-container" data-bind="foreach: Tareas ">

      @* Tarea *@
      <div class="task" data-bind="visible: Estado.tareaEsActiva(IdEstado())">

          <div class="task-header" data-bind="css: { authenticated: UsuarioRegistrado.id == IdAsignado() }">
              <div class="fecha">
                  <span data-bind="text: diasDiferencia, style: {backgroundColor: colorFecha }"></span>
                  <input data-bind="datepicker: FechaEntrega, datepickerOptions: {  }"/>
              </div>
              <h3 data-bind="text: Id"></h3>
          </div>

          <div class="task-content">
              <div class="proyect" data-bind="text: NombreProyecto"></div>
              <div class="description" data-bind="convertLinks: { text: Descripcion }, 
                                                   visible: !editando(),
                                                   event: { dblclick: editar }"></div>
              <div class="description edit" data-bind="visible: editando()" >
                  <textarea data-bind="value: Descripcion"></textarea>
                  <button class="small"
                      data-bind="click: guardar">Ok</button>
                  <button class="small" 
                      data-bind="click: function() { cancelar($item.parentList); }">Cancelar</button>
              </div>
              <div class="time">
                <div class="estimated">Estimado: 
                  <span data-bind="visible: TiempoEstimado() && !editandoTiempoEstimado(),
                                   text: TiempoEstimado, click: function() { editandoTiempoEstimado(true); }"></span>
                  <input type="text" title="5d 4h 15m"
                    data-bind="visible: !TiempoEstimado() || editandoTiempoEstimado(),
                               value: TiempoEstimado, hasfocus: editandoTiempoEstimado" />
                </div>
                <div class="executed">Ejecutado: <span data-bind="text: TiempoEjecutado"></span></div>
              </div>
              <div class="author" data-bind="css: { authenticated: UsuarioRegistrado.nombre == UsuarioCrea() }">
                  <span data-bind="text: UsuarioCrea"></span>, 
                  <span data-bind="text: diasCreacion"></span>
              </div>
          </div>
          <div class="task-footer" data-bind="style: {backgroundColor: colorEstado }">
               <select class="estado" data-bind="options: Estado.valores, value: IdEstado, 
                                 optionsText: 'Nombre', optionsValue: 'Id'"></select>
          </div>
      </div>
      @* Fin tarea *@

    </div>
  </div>
  @* Fin usuario *@

</div>

<div class="clear"></div>

@if (debug)
{
    <div data-bind="text: ko.toJSON(viewModel)"></div>
}

@Html.Script("Custom/Usuario.js")