body.path-tasks  {
  .main.container {
    width: 100%;
  }
  .tasks-container {
    width: 100%;
    overflow: scroll-x;

    .tasks-inner-container {
      width: 10000px;

      .tasks-list {

        .tasks-list-header {
          h2 {
            font-size: 16px;
            line-height: 16px;
          }
        }
          
        .tasks-group {
          height: 300px;
          overflow: auto;

          .task {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 4px;
          }
        }
      }        
    }
  }
}
